<div>
  <h1 class="font-bold text-4xl text-copper-200">Landing#index</h1>
  <h2 class="font-bold text-xl text-copper-dark">Subtitle</h2>
  <p>Find me in app/views/landing/index.html.erb</p>

  <h2
    class="text-base font-semibold text-gray-900 sm:text-teal-800 lg:text-purple-500">
    Additional information
  </h2>

  <div class="sm:col-span-2 md:col-span-3">
    <label for="region" class="block text-sm font-medium leading-6 text-gray-900">State</label>
  </div>

  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:grid-cols-8">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <div>10</div>
    <div>11</div>
    <div>12</div>
  </div>
</div>
